header
    display: flex
    justify-content: center
    background-color: $main-black
    width: 100%
    height: 100%
.header
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 1200px
    height: 100%
    &-container
        margin: 0
        padding-bottom: 30px
    &-main
        position: relative
        display: flex
        justify-self: center
        justify-content: center
        flex-direction: column
        align-items: center
        &__title
            font-weight: 400
            font-size: 56px
            line-height: 66px
        &__rule
            font-weight: 400
            font-size: 32px
            line-height: 38px
